#navbar
{
   display: flex;
   align-items: flex-start;
   position: absolute;
   width:100%;
}
#navbar::before
{
   content: "";
   background-color: black;
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: .1;

}
#navbar #hotel_name
{
   margin-top: -16px;
    margin-left: 14px;
}

#navbar #hotel_name h3
{
   margin-top: -48px;
   margin-left: 82px;
   color: black;
}

#logo img
{
   
   height:90px;
   width: 135px;
}
.cursive

{
   font-family: 'Qwitcher Grypen', cursive;
   font-weight: 900;
   font-size: xx-large;
   color: rgb(3, 1, 1);
   
}
ul
{
   list-style: none;
   display: flex;
}
ul li a
{
   padding: 2px 14px;
    display: block;
    text-decoration: none;
    font-size: larger;
    color: rgb(121, 25, 25);
    margin-top: 31px;
    margin-right: 20px
}
ul li a:hover
{
   background-color: rgb(204, 178, 178);
   color: #791919;
   border-radius: 9px;
}
#navigation
{
   margin-left: 15px;
    font-size: larger;
    
}
